<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>{{body.name}}</title>
</head>
  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/books">Books</a>
      <a href="/users">Users</a>
      <a class="active" href="/groups">Groups</a>
      <a href="/tags">Tags</a>
      <a href="/lists">Lists</a>
      <a href="/logout">Logout</a>
    </div>
      {{#if message}}
        <div class="success"><p>{{message}}</p></div>
      {{/if}}
      {{#if body}}
        <h1>{{body.name}}</h1>
        {{#if owner}}
          <form method="POST" action="/groups/addAdmin/{{body._id}}" class="makeAdmin">
            <label for="adminName">Add Admin</label>
            <input id="adminName" type="text" name="adminName"/>
            <button type="submit">Add</button>
          </form>
          <form method="POST" action="/groups/deleteAdmin/{{body._id}}" class="removeAdmin">
            <label for="adminName">Remove Admin</label>
            <input id="adminName" type="text" name="adminName"/>
            <button type="submit">Remove</button>
          </form>
        {{/if}}
        {{#if admin}}
          <form method="POST" action="/groups/addMember/{{body._id}}" class="makeMember">
            <label for="memberName">Add Member</label>
            <input id="memberName" type="text" name="memberName"/>
            <button type="submit">Add</button>
          </form>
          <form method="POST" action="/groups/deleteMember/{{body._id}}" class="removeMember">
            <label for="memberName">Remove Member</label>
            <input id="memberName" type="text" name="memberName"/>
            <button type="submit">Remove</button>
          </form>
        {{/if}}
        <div>
          <h2>Reading Lists</h2>
          {{#if list.length}}
            <ul>
              {{#each list}}
                <li><a href="/lists/{{this._id}}">{{this.name}}</a></li>
              {{/each}}
            </ul>
          {{else}}
            <p>No Lists are a part of this group.</p>
          {{/if}}
        </div>
        <div>
          <h2>Forum Threads</h2>
          {{#if invalidThread}}
            <p>{{invalidThread}}</p>
          {{/if}}
          <form method="POST" action="/threads/{{body.forum}}">
            <label for="forumComment">Add a new Thread!</label>
            <input id="forumComment" type="text" name="forumComment">
            <button type="submit">Click to add a thread!</button>
          </form>
          {{#if threads.length}}
          <ul>
            {{#each threads}}
              <li><a href="/threads/{{this._id}}">{{this.initialComment}}</a></li>
            {{/each}}
          </ul>
          {{else}}
          <p>No Threads have been posted to the Forum.</p>
          {{/if}}
        </div>
      {{/if}}
  </body>
</html>