<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/showhide.js"></script>
  <title>Home</title>
</head>
  <body>
    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <a href="/books">Books</a>
      <a href="/users">Users</a>
      <a href="/groups">Groups</a>
      <a href="/tags">Tags</a>
      <a href="/lists">Lists</a>
      <a href="/logout">Logout</a>
    </div>

    <main>
      <div>
        <h1>User Information</h1>
        <h5>Username: {{user.name}}<h5>
        <h5>E-Mail: {{user.email}}<h5>
      </div>

      <div>
        <h1>Read Books</h1>
        {{#if readBooks}}
          <button onclick="showHide('readBooks')">Show / Hide Content</button>
          <ol id="readBooks">
            {{#each readBooks}}
              <li>{{this.title}} by {{this.author}}</li>
            {{/each}}
          </ol>
        {{else}}
          <p>No books read.<p>
        {{/if}}
      </div>

      <div>
        <h1>Currently Reading</h1>
        {{#if readingBooks}}
          <button onclick="showHide('readingBooks')">Show / Hide Content</button>
          <ol id="readingBooks">
            {{#each readingBooks}}
              <li>{{this.title}} by {{this.author}}</li>
              <form method="POST" action="/users/finishBook/{{this._id}}" class="finishBook">
                <button type="submit">Add Book to Read Books</button>
              </form>
            {{/each}}
          </ol>
        {{else}}
          <p>No books are currently being read.<p>
        {{/if}}
      </div>

      <div>
        <h1>Group Membership</h1>
          <button onclick="showHide('groupMembership')">Show / Hide Content</button>
          <div id="groupMembership">
            <h5>Current Membership</h5>
            <ul>
              {{#if memberGroups}}
                {{#each memberGroups}}
                  <li>{{this.name}}</li>
                {{/each}}
              {{else}}
                <p>You are not the member of any groups.</p>
              {{/if}}
            </ul>
            <h5>Invitations</h5>
            <ul>
              {{#if invitations}}
                {{#each invitations}}

                {{/each}}
              {{else}}
                <p>No invitations found.</p>
              {{/if}}
            </ul>
          </div>
      </div>

      <div>
        <h1>My Reading Lists</h1>
                <!-- Form that will post to list route  -->
        <form method="POST" action="/lists" class="makeList">
          <label for="make-list">Create List</label>
          <input id="make-list" type="text" name="listName"/>
          <button type="submit">Create List</button>
        </form>
        <p class="error">{{errorMessage}}</p>
        {{#if myLists}}
          <button onclick="showHide('myLists')">Show / Hide Content</button>
          <ul id="myLists">
            {{#each myLists}}
              <li><a href="/lists/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        {{else}}
          <p>No lists created.<p>
        {{/if}}
      </div>

      <div>
        <h1>Followed Lists</h1>
        {{#if followedLists}}
          <button onclick="showHide('followedLists')">Show / Hide Content</button>
          <ul id="followedLists">
            {{#each followedLists}}

            {{/each}}
          </ul>
        {{else}}
          <p>No lists followed.<p>
        {{/if}}
      </div>

      <div>
        <h1>Followed Users</h1>
        {{#if followedUsers}}
          <button onclick="showHide('followedUsers')">Show / Hide Content</button>
          <ul id="followedUsers">
            {{#each followedUsers}}
              <li><a href="/users/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        {{else}}
          <p>No users followed.<p>
        {{/if}}
      </div>
    </main>
  </body>
</html>

