<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/showhide.js"></script>
  <title>{{body.name}}</title>
</head>
  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/books">Books</a>
      <a href="/users">Users</a>
      <a href="/groups">Groups</a>
      <a href="/tags">Tags</a>
      <a class="active" href="/lists">Lists</a>
      <div class="topnav-right">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </body>

  <main>
    {{!-- content goes here. See books.handlebars or user.handlebars for reference --}}
    {{#if body}}
      <div>List Name: {{body.name}}</div>
        {{#if book}}
          {{#each book}}
            <div class="book">
              <ul>
                <li>Title: {{this.title}}</li>
                <li>Author: {{this.author}}</li>
                <li>Summary: {{this.summary}}</li>
              </ul>
            </div>
          {{/each}}
        {{/if}}
    {{else}}
      <div>
        <h2>No Lists found.</h2>
      </div>
    {{/if}}
  </main>



</html>
