<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Private</title>
</head>
  <body>
    <main>
      <h1>User Data</h1>
      <div>{{user._id}}</div>
      <div>{{user.name}}</div>
      <div>{{user.email}}</div>
      {{!-- <div>{{user.lastName}}</div>
      <div>{{user.profession}}</div>
      <div>{{user.bio}}</div> --}}
      <a href="/logout">Logout</a>
    </main>
  </body>
</html>

